<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Rated Movies</title>
    <link rel="stylesheet" href="/styles.css" />
    <!-- Add your CSS here -->
  </head>
  <body>
    <%- include('header') %>
    <h1>Top Rated Movies</h1>

    <div class="movies-container">
      <% if (movies.length > 0) { %>
      <ul class="movie-list">
        <% movies.forEach(movie => { %>
        <li class="movie-item">
          <h2><a href="/movie/<%= movie.id %>"><%= movie.title %></a></h2>
          <p><strong>Release Year:</strong> <%= movie.release_year %></p>
          <p><strong>Rating:</strong> <%= movie.rating %> / 10</p>
          <p><strong>Discription: </strong><%= movie.description %></p>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <p>No top-rated movies found.</p>
      <% } %>
    </div>
  </body>
</html>
